@{
    ViewData["Title"] = "About";
}

<!--about-container-starts-->
<section id="about-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>About Us</h2>
                <hr>
                <p>
                    is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard is simply dummy text
                    of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard
                </p>
            </div>
        </div>
    </div>
</section>